export let comptrollerAddr = '{{comptrollerAddr}}'
export let nativeToken = '{{nativeToken}}'
export let mNativeAddr = '{{mNativeAddr}}'
export let protocolNativePairAddr = '{{protocolNativePairAddr}}'
export let protocolNativePairStartBlock = {{protocolNativePairStartBlock}}
export let protocolNativePairProtocolIndex = {{protocolNativePairProtocolIndex}}
