export let comptrollerAddr = '{{comptrollerAddr}}'
export let mNativeAddr = '{{mNativeAddr}}'
export let protocolNativePairAddr = '{{protocolNativePairAddr}}'
export let protocolNativePairStartBlock = {{protocolNativePairStartBlock}}
